{% extends "base.html" %}
{% block content %}
<div class="row mt-3">
<div class="bs-element">
<h3>{% if finished %}Finished Prints{% else %}Unfinished Prints{% endif %}</h3>
</div>
</div>
{% if statusBar %}
 
<div class="row mt-3">
<div class="col lg-12">
<div class="bs-element">
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Caution!</h4>
  <p class="mb-0">{{statusBar}}</p>
</div>
</div>
</div>
</div>
{% endif %}
<div class="row mt-3">
{% for print in prints %}

<!-- Dialog modals for Failed Print menu -->
<div class="bs-element">
<!-- Modal -->
<div class="modal fade" id="modal-{{print.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{print.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-{{print.id}}">Print Failed - Additional Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <textarea class="form-control" name = "modal-notes-{{print.id}}" id="modal-notes-{{print.id}}" rows="5"></textarea>
     </div>
      <div class="modal-footer">
        <button type="button submitfailbutton" id="btn-submit-{{print.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<script>
       function modal_submit_{{print.id}}() {
    $.ajax
    ({ 
        url: 'manage/{{print.id}}/failed',
        data: {"note":document.getElementById("modal-notes-{{print.id}}").value},
        type: 'post'
    });
}
</script>
        <button type="button" class="btn btn-primary" onclick="modal_submit_{{print.id}}()" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}

<table class="table table-hover">
                <thead>
                  <tr>
				  	<th scope="col">netID</th>
                    <th scope="col">Name</th>
                    <th scope="col">File Location</th>
					<th scope="col">Notes</th>
					<th scope="col">Duration</th>
					<th scope="col">Submission Time</th>	
                  </tr>
                </thead>
                {% for print in prints %}
				<tr>
					<td>
					{{print.netID}}
					{% if print.isIPOCheckbox %}
					(IPO {{print.isIPONotes}})
					{% endif %}
					</td>
					<td>
					
					<div class="btn-group" role="group">
						<button id="btn" type="button" class="btn {% if finished %} btn-warning {% else %} btn-info {% endif %} btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{print.parentJobName}}
					</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="manage/{{print.id}}">💻Debug Metadata</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item disabled" href="#">mark as:</a>
      <a class="dropdown-item" href="manage/{{print.id}}/started">🖨️Started</a>
	  <a class="dropdown-item" href="manage/{{print.id}}/finished">💹Finished</a>
      <a class="dropdown-item" data-toggle="modal" href="#modal-{{print.id}}">❌Failed</a>
	  <a class="dropdown-item" href="manage/{{print.id}}/delivered">📮Delivered</a>
      <div class="dropdown-divider"></div>
	  <a class="dropdown-item" disabled href="/edit/{{print.id}}">📝Edit Print</a>
	  	  	  <div class="dropdown-divider"></div>
    </div>
  </div>
					
					</td>
					<td>{{print.location}}</td>
					<td>{{print.parentNotesBox}}</td>
					<td>{{print.printTime}}</td>
					<td><script type="text/javascript">
        document.write(new Date({{print.unixTime}}*1000).toLocaleString())
      </script></td>
				</tr>
				{% endfor %}
                </tbody>
              </table>
</div>
{% endblock %}

