{% extends "base.html" %}
{% block content %}
  <div class="row mt-5">
  <script>
  </script>

  <div class="form-group">
<form action='/login' method='POST'>
                <input class="form-control" type='text' name='username' id='username' placeholder='Username'/>
                <input class="form-control"type='password' name='password' id='password' placeholder='Password'/>
                <button type='submit' class="btn btn-primary" name='Login'/>Login</button>
               </form>
				                   </div>
</div>
{% endblock %}

