{% extends "base.html" %}
{% block content %}
<script>
/*
let myGreeting = setTimeout(() => {
  window.location.href="/";
}, 5000);
*/	

</script>
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light">Successfully Signed In</h1>
      </div>
	</div>
	<div class="row py-lg-1">
      <div class="col mx-auto">
        <h3>Name: <b>{{ user.name }}</b></h3>
		{% if user.pronouns %}</h4>({{user.pronouns}})</h4>{% endif %}
		{% if user.netid %}
		<h6>NetID: <b>{{user.netid }}</b></h6>
		{% endif %}
		
		<hr>
		<h4>Last Visit: <b>{{lastVisitDate}}</b></h4>
		<h4>Total Visits:  {{numVisits}}</h4>
		
      </div>
      <div class="col mx-auto">
        <h3>Memberships</b></h3>
		{% for m in memberships %}
		<p>{{m.name}}<br>({{m.start}}) ⇒ ({{m.end}})</p>
		{% endfor %}
		<hr>
		<p>Membership expires <b>Never</b></p>
      </div>
    </div>
{% endblock %}

