{% extends "base.html" %}
{% block content %}

    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light">Successfully Signed In</h1>
      </div>
	</div>
	<div class="row py-lg-1">
      <div class="col mx-auto">
        <h3>Name: <b>Dr. Daniel Hayden</b></h3>
		<h6>NetID: <b>dhayden7</b></h6>
		
		<h4><b>Division of Continuing Studies</b></h4>
		<hr>
		<h4>Last Visit: <b>2021/09/10</b></h4>
		<h4>Total Visits:  197 </h4>
		
      </div>
      <div class="col mx-auto">
        <h3>Memberships</b></h3>
		<p>Rutgers Student | 1 Year<br>(2020/08/08) ⇒ (2021/08/08)</p>
		<p> J&J Corporate | 1 Year<br>(2021/09/01) ⇒ (2021/09/01)</p>
		<p> Makerspace Staff | <i>Perpetual</i><br>(2012/09/01)</p>
		<hr>
		<p>Membership expires <b>Never</b></p>
      </div>
    </div>
{% endblock %}

