{% extends "base.html" %}
{% block content %}
 
  <script>
  
function tH(e) {
    setCookie("cardNo",e.detail.scanCode, 1);
	console.log(e)
	window.location.href = 'visitor_signin_2.html?cardNo=' + getCookie("cardNo");
return e.detail.code;
}

  onScan.attachTo(document);
// Register event listener
document.addEventListener('scan', tH); 
  </script>
<form id="cardSubmit">
  <div class="form-group">
    <h1 class="fw-light">Card / Fob Number</h1>
    <input type="text" class="form-control  form-control-lg" id="inputCardNo" aria-describedby="CardNoShit" placeholder="Please tap your fob or RUID card against the reader on the desk.">
  </div>
</form>
{% endblock %}

